html{
    scroll-behavior: smooth;
}
body{
    background-image: url("../images/bg.png");
    display: flex;
    justify-content: center;
}
.main{
    min-width: 900px;
    min-height: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}