@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
html{
    scroll-behavior: smooth;
    font-family: 'Moon Dance', cursive !important; 
}
body{
    background-color: #f6e58d;
    display: flex;
    justify-content: center;
}
label{color:blueviolet !important;
}
.main{
    min-width: 900px;
    min-height: 600px;
;
}